<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            background-color: #f0f0f0;
            font-family: 'Arial', sans-serif;
            text-align: center;
        }

        h1 {
            color: #333;
            font-size: 2.5em;
            margin-top: 50px;
        }

        .welcome-message {
            margin-top: 30px;
            font-size: 1.5em;
        }
    </style>
</head>

<body>
    <h1>User Profile</h1>

    <div class="welcome-message">
        Hi {{ username }}!
    </div>
</body>

</html>